:root {
    --background: rgb(255, 231, 21);
    --textinsidebox: rgb(255, 231, 21);
    --boxbackground: rgb(16, 25, 32);
    --hovercolor: rgb(255, 255, 255);
}

body {
    background-color: var(--background);
}

#fb {
    margin-top: 80px;
    font-size: 50px;
    background-color: var(--boxbackground);
    color: var(--textinsidebox);
    border: 2px solid black;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 560px;
    padding: 50px;
}

#fb:hover {
    font-size: 50px;
    color: var(--boxbackground);
    background-color: var(--hovercolor);
    margin-left: 560px;
    padding: 50px;
}

#email {
    font-size: 50px;
    background-color: var(--boxbackground);
    color: var(--textinsidebox);
    border: 2px solid black;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 600px;
    padding: 50px;
}

#email:hover {
    font-size: 50px;
    color: var(--boxbackground);
    background-color: var(--hovercolor);
    margin-left: 600px;
    padding: 50px;
}