:root {
    --bigtext: rgb(255, 231, 21);
    --background: rgb(16, 25, 32);
    --text: rgb(255, 255, 255);
    --imgdescr: rgb(255, 158, 1);
}

body {
    background-color: var(--background);
    font-family: 'Times New Roman', Times, serif;
}

/*OVERALL INFORMATION*/
#title {
    font-size: 48px;
    margin-top: -10px;
    text-align: center;
}

.Overall {
    background-color: var(--bigtext);
}

.about {
    font-size: 24px;
    margin-left: 120px;
}

button {
    background-color: var(--background);
    font-size: 13px;
    color: var(--bigtext);
    border: 2px solid black;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 120px;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 120px;
}

/*OVERALL INFORMATION*/


/*INTRODUCTION*/
#intro {
    font-size: 48px;
    margin-left: 120px;
    color: var(--bigtext);
}

.introtext {
    font-size: 21px;
    margin-left: 120px;
    line-height: 1.3;

    color: var(--text);
}

#text1 {
    margin-top: -10px;
}

.img1 {
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 120px;
    width: 45%;
    height: 45%;
    color: rgb(255, 158, 1);
    float: right;

}

#img1describe {
    margin-top: -1px;
}

/*INTRODUCTION*/


/*HISTORY*/
#historyintro {
    font-size: 48px;
    color: var(--bigtext);
    text-align: center;
    border: 3px solid yellow;
    border-radius: 25px;
    margin-left: 300px;
    margin-right: 300px;
}

.img2 {
    display: block;
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 50px;
    width: 40%;
    height: 40%;
    color: var(--bigtext);
    float: left;
}

#firstdrone {
    margin-top: -10px;
    font-size: 30px;
    color: var(--bigtext);
}

#text3 {
    margin-top: -10px;
    line-height: 1.3;
    margin-right: 120px;
    font-size: 21px;
    color: var(--text);
}

#afterww1 {
    margin-top: 170px;
    margin-bottom: -10px;
    margin-left: 120px;
    font-size: 30px;
    color: var(--bigtext);
}

.img3 {
    display: block;
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 120px;
    width: 45%;
    height: 45%;
    color: rgb(255, 158, 1);
    float: right;
}

#text4 {
    margin-top: 20px;
    line-height: 1.3;
    margin-left: 120px;
    font-size: 21px;
    color: var(--text);
}


#coldwar {
    margin-top: 150px;
    margin-left: 120px;
    font-size: 30px;
    color: var(--bigtext);
}

.img4 {
    display: block;
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 50px;
    width: 40%;
    height: 40%;
    color: rgb(255, 158, 1);
    float: left;
}

#img4describe {
    margin-left: 120px;
}

#text5 {
    margin-top: -10px;
    line-height: 1.3;
    margin-right: 120px;
    font-size: 21px;
    color: var(--text);
}


#moderndrone {
    margin-top: 250px;
    margin-bottom: -10px;
    margin-left: 120px;
    font-size: 30px;
    color: var(--bigtext);
}

.img5 {
    display: block;
    margin-bottom: 50px;
    margin-top: -40px;
    margin-left: 10px;
    margin-right: 120px;
    width: 45%;
    height: 45%;
    color: rgb(255, 158, 1);
    float: right;
}

#text6 {
    margin-top: 20px;
    line-height: 1.3;
    margin-left: 120px;
    font-size: 21px;
    color: var(--text);
}


/*HISTORY*/